.bgColourHomePage{
    background-image: url(https://img.freepik.com/premium-vector/abstract-background-with-modern-style-hexagon-pattern_7505-1736.jpg?w=2000);
}

.Center{
    padding-left: 650px;
}

.HomeCard{
    padding-left: 175px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projectCardDisp{
    display: inline-flex;
}
.projectCardPadding{
    padding-left: 210px;
    padding-bottom: 100px;
}

.bgCodeTxT{
    background: rgb(69, 187, 33);
}

.bgCodeHTML{
    background: rgb(240, 140, 0);
}

.bgCodeCSS{
    background: rgb(0, 192, 240);
}

.footerAlignment{
    margin-bottom: 0;
}
.ContactMEdisp{
    padding-top: 132px;
    padding-bottom: 132px;
}

.CarouselPadding{
    padding-top: 50px;
}